/*adding a margin on the bottom so the h1 is not stuck to the header*/
.NavBar {
	margin-bottom: 25px;
}
@media (max-width: 850px) {
	.hamburger {
		position: fixed;
		/* a large z-index puts the ham button above the rest of the page*/
		z-index: 99;
		background: white;
		border: none;
		cursor: pointer;
		top: 1rem;
		right: 1rem;
	}

	.menu {
		position: fixed;
		/* give the menu a larger z-index than the ham link
		to put the menu above it */
		z-index: 100;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100vh;
		/* basic menu styling*/
		list-style: none;
		background: black;
		display: flex;

		flex-direction: column;
		/* animate slide up/down */
		transform: translateY(-100%);
		transition: transform 0.2s ease;
	}

	.close {
		position: absolute;
		border: none;
		color: white;
		cursor: pointer;
		top: 1rem;
		right: 1rem;
	}

	@media (min-width: 851px) {
		.NavBar {
			background-color: #e61610;
			display: flex;
			justify-content: space-between;
		}

		.NavBar > div > img {
			height: 50px;
			width: 50px;
			margin: 10px 0px 10px 10px;
		}

		.NavLinks {
			display: flex;
			text-align: end;
		}
		.NavBar > div > a,
		.NavLinks > a {
			text-decoration: none;
			color: #428bca;
			background-color: #fff;
			padding: 15px 20px;
			align-self: center;
			margin: 5px 10px 5px 10px;
		}

		.NavBar > div > a {
			margin-right: 20px;
		}
		.active {
			background-color: #428bca !important;
			color: #fff !important;
			/* added important because of the order css reads the styles and works */
		}
	}
}
